.text-common {
  color: $mainColor;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.text-common::before {
  content: "";
  background-image: url("../../images/underline.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  bottom: -61px;
  z-index: -1;
  transform: rotate3d(1, 1, 1, 360deg);
}
